@import '/src/styles/theme';

.svg {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transform: scale(1.5);
  border: 3px solid getColor(green);
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1.5);
    box-shadow: 0 0 2px 4px getColor(purple);
  }
}
