.container {
  display: grid;
  grid-template-columns: 10% 1fr;
  margin-bottom: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 48px);
  gap: 10px;
}

.imgContainer {
  position: relative;
  display: inline-block;

  &:hover &__removeBtn,
  &:focus &__removeBtn {
    opacity: 1;
  }

  &__removeBtn {
    opacity: 0;
  }

  &__img {
    display: block;
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
