$colors: (
  white: #F2F2F2,
  dark: #333,
  green: #47848F,
  purple: #4B21A6,
  primary: #133774,
  secondary: #5285da,
  red: #FF8F8F,
  lightblue: #A0C0FF,
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}