@import "/src/styles/theme";
@import "/src/styles/components/button";

.removeBtn {
  @extend .button;
  width: 15px;
  height: 15px;
  background-color: getColor(white);
  color: getColor(dark);
  font-size: 1rem;
}
