@import "/src/styles/theme";

.form {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: auto auto 1fr;

  &__upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  &__lower {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 10% 1fr;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0;

    button[type=submit] {
      margin-left: 1rem;
    }
  }
}
