@import "/src/styles/breakpoints";
@import "/src/styles/theme";

.item {
  width: 100%;
  max-width: 30rem;
  position: relative;

  &__carousel {
    margin-bottom: 1rem;
  }

  &__sectionName {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.3rem;
    color: getColor(white);
  }

  &__projectDescription {
    font-style: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: getColor(white);
  }

  &__badgesContainer {
    padding-top: 0.5rem;
  }

  &__btnsContainer {
    margin-top: 1rem;

    @include responsive(sm) {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    @include responsive(sm) {
      margin-bottom: 0;
    }

    svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &__infoBtn {
    transform: scale(1.5);
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }

  &__menu {
    padding: 0.5rem 1rem;
    position: absolute;
    top: 4%;
    right: 6%;
    z-index: 1;
    border-radius: 10px;
    clip-path: circle(11.3% at 85% 15%);
    box-shadow: 0 0 1px 1px getColor(purple);
    transition: all 0.3s ease;
    
    &:hover,
    &:focus {
      background-color: darken(getColor(dark), 2);
      clip-path: circle(100% at 50% 50%);
    }

    svg {
      transform: scale(1.5);
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    p {
      color: getColor(white);
      font-size: 1rem;
      user-select: none;
    }
  }

  &__btnsGroup {
    display: flex;
    flex-direction: column;

    button:first-child {
      margin-bottom: 0.5rem;
    }
  }
}
