@import "/src/styles/theme";
@import "/src/styles/components/button";

.btn {
  @extend .button;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  span {
    font-size: 1rem;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    margin-right: 0.5rem;
    color: getColor(dark);
  }

  &-primary {
    background-color: getColor(primary);
    color: getColor(white);
    border: 5px solid getColor(secondary);

    span {
      color: getColor(white);
    }
  }

  &-secondary {
    background-color: transparent;
    border: 5px solid getColor(secondary);

    span {
      color: getColor(secondary);
    }

    &:hover {
      background-color: getColor(secondary);

      span {
        color: getColor(white);
      }
      
      svg > * {
        fill: #fff;
      }
    }
  }

  &-warning,
  &-info {
    flex-direction: row-reverse;
    padding: 0.5rem 1rem;

    svg {
      margin-right: 0.5rem;
    }
  }

  &-warning {
    background-color: getColor(red);
  }

  &-info {
    background-color: getColor(lightblue);
  }

  &-link {
    width: 11.25rem;
    text-decoration: none;
  }
}
