.badgeContainer {
  position: relative;
  display: inline-block;
  margin-right: 1rem;

  &:hover &__removeBtn,
  &:focus &__removeBtn {
    opacity: 1;
  }

  &__badge {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__removeBtn {
    opacity: 0;
  }
}
